html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 300px;
    min-height: 320px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 60px;
    width: 60px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    /* transform: rotateY(0deg); */
    animation: rainbow 0.5s;
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 250px;
    margin-bottom: 10px;
}

/* .score-panel  */
.stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

/* .score-panel  */
.stars li {
    list-style: none;
    display: inline;
}


.score-panel .restart {
    float: right;
    cursor: pointer;
}

.modal-success {
  width:70%;
  z-index:3;
  background: #02b3e4;
  position:fixed;
  top:25%;
  left:15%;
  display:none;
  /* display:block; */
  padding:5%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  line-height: 1.9;
}

.modal-failure {
  width:70%;
  z-index:3;
  background: #02b3e4;
  position:fixed;
  top:25%;
  left:15%;
  display:none;
  /* display:block; */
  padding:5%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  line-height: 1.9;
}

.modal-overlay{
  width:100%;
  height:100%;
  z-index: 2;
  background: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left:0;
  display: none;
  /* display:block; */
  margin: 0;
  padding: 0;
}

.final-message1{
  font-size: 20px;
  font-weight: bold;
}

.play-again1, .play-again2 {
  background: #2e3d49;
  border: none;
  padding:5px;
  margin: 10px;
  border-radius: 5px;
  color: white;
  font-size:15px;
}

@media screen and (min-width: 450px){

  .deck {
    width: 380px;
    min-height: 400px;
  }

.deck .card {
    height: 80px;
    width: 80px;
  }

  .score-panel {
      width: 300px;
  }
}

@media screen and (min-width: 570px){

  .deck {
    width: 540px;
    min-height: 560px;
    padding: 25px;
  }

.deck .card {
    height: 100px;
    width: 100px;
  }

  .score-panel {
      width: 345px;
  }
}

@media screen and (min-width: 670px){

  .deck {
    width: 660px;
    min-height: 680px;
    padding: 32px;
  }

.deck .card {
    height: 125px;
    width: 125px;
  }

}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes rainbow {
  0% { background: #2e3d49;}
  50% { background: #187897;}
  100% { background: #02b3e4;}
}
